DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_password

OMOP_VIEW=distributions_and_concept_view
APP_ENV=development
APP_DEBUG=true
STORE_REFRESH_TTL=60
DEFAULT_THRESHOLD=60

FUZZY_TOKEN_OVERLAP=true
FUZZY_TOKEN_MIN_SCORE=85